@use "./styles/partials/variable" as *;
@use "./styles/partials/mixin" as *;
@use "./styles/partials/fonts";
@use "./styles/partials/text";


*, *::before, *::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modal {
    @include flex-center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* For address search box */
.autocomplete-dropdown-container {
    position: absolute;
    z-index: 100;
    border: 1px solid grey;
}

.suggestion-item {
    padding: 0.5rem;

    &--active {
    padding: 0.5rem;

    }
}